useDynLib(freealg, .registration=TRUE)
exportPattern("^[[:alpha:]]+")

import("methods")
import("mathjaxr")

importFrom("stats", "rgeom")
importFrom(Rcpp, evalCpp)

importFrom(partitions, multiset)

importFrom("utils", "capture.output")

importFrom("digest", "digest")
importFrom("disordR","disord")
importFrom("disordR","is.disord")
importFrom("disordR","consistent")
importFrom("disordR","sapply")
importFrom("disordR","elements")



S3method(constant, freealg)
S3method(constant, numeric)
S3method("constant<-", freealg)
S3method("coeffs<-", freealg)
S3method("Ops",freealg)
S3method("print",freealg)
S3method("deriv",freealg)
