useDynLib(freealg, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
exportClasses("dot")
exportMethods("[")

importFrom("methods", "new")

importFrom("stats", "rgeom")
importFrom(Rcpp, evalCpp)

importFrom(partitions, multiset)

importFrom("utils", "capture.output")

importFrom("disordR","disord")
importFrom("disordR","hashcal")
importFrom("disordR","is.disord")
importFrom("disordR","consistent")
importFrom("disordR","sapply")
importFrom("disordR","lapply")
importFrom("disordR","elements")
importFrom("disordR","%in%")
importFrom("disordR","sort")
importFrom("disordR","unlist")

S3method(constant, freealg)
S3method(constant, numeric)
S3method("constant<-", freealg)
S3method("coeffs<-", freealg)
S3method("Ops",freealg)
S3method("print",freealg)
S3method("deriv",freealg)
S3method("[",freealg)
S3method("[<-",freealg)
