useDynLib(freealg, .registration=TRUE)
exportPattern("^[[:alpha:]]+")

import("methods")

importFrom("stats", "rgeom")
importFrom(Rcpp, evalCpp)

importFrom(partitions, multiset)

importFrom("utils", "capture.output")

S3method(constant, freealg)
S3method(constant, numeric)
S3method("constant<-", freealg)
S3method("coeffs<-", freealg)
S3method("Ops",freealg)
S3method("print",freealg)
S3method("deriv",freealg)
